<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pilloud.mapper.ShapeMapper">

	<!-- 모양 선택 -->
    <select id="selectShape" resultType="String">
        SELECT DISTINCT(DRUG_SHAPE) AS DRUG_SHAPE FROM PILL_MST;
    </select>
</mapper>  